<body>
    
<div class="mt-4">
    <h3>Tạo món ăn</h3>
    <form action="/BuaSang/store" method="post" class="">
      <select class="form-select" aria-label="Default select example" id="list" name="list">
    <option selected>Chọn món ăn</option>
     <option value="bua_sang">Bữa Sáng</option>
     <option value="bua_trua">Bữa Trưa</option>
   </select>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
       <input type="text" class="form-control" id="NAME" name="NAME" placeholder="">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Introduce</label>
       <input type="text" class="form-control" id="INTRODUCE" name="INTRODUCE" placeholder="">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Image</label>
       <input type="text" class="form-control" id="IMAGE" name="IMAGE" placeholder="">
    </div>
     <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">SLUG</label>
       <input type="text" class="form-control" id="SLUG" name="SLUG" placeholder="">
    </div>
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Image</label>
       <input type="text" class="form-control" id="IMAGE1" name="IMAGE1" placeholder="">
    </div>
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Image</label>
       <input type="text" class="form-control" id="IMAGE2" name="IMAGE2" placeholder="">
    </div>
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Image</label>
       <input type="text" class="form-control" id="IMAGE3" name="IMAGE3" placeholder="">
    </div>
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nguyên liệu</label>
       <input type="text" class="form-control" id="nguyenlieu" name="nguyenlieu" placeholder="">
    </div>
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Cách làm</label>
       <input type="text" class="form-control" id="cachlam" name="cachlam" placeholder="">
    </div>
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Bảo quản</label>
       <input type="text" class="form-control" id="baoquan" name="baoquan" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Thêm món ăn</button>
   </form>
</div>
</body>