<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/Login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    <style>
        .verification-code {
            display: none;
        }
    </style>
</head>

<body>
    <div class="wrapper" style="height: auto;">
        <form id="forgotPasswordForm" action="/ForgotPassword" method="post">
            <h1>Forgot Password</h1>
            <p style="color: aliceblue; margin-top: 10px;">Vui lòng nhập email để tìm kiếm tài khoản của bạn.</p>
            <div class="inputbox" style="margin-top: 10px;">
                <input type="email" placeholder="Email" id="Email" name="Email" required>
                <i class='bx bxs-envelope'></i>
                <div id="error-message" style="color: red; display: none;">Email không chính xác.</div>
            </div>
            <button class="btn" type="submit" id="submitButton">Submit</button>
            <div class="register-link">
                <p>Remember your password? <a href="/Login">Login now</a></p>
            </div>
        </form>
        <form class="verification-code" id="verificationCodeForm" action="/ForgotPassword/Confirm" method="post">
            <h1>Forgot Password</h1>
            <p style="color: aliceblue; margin-top: 10px;">Vui lòng nhập email để tìm kiếm tài khoản của bạn.</p>
            <div class="inputbox" style="margin-top: 10px;">
                <input type="email" placeholder="Email" id="VerificationEmail" name="Email" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="inputbox">
                <input type="text" placeholder="Verification Code" id="VerificationCode" name="VerificationCode"
                    required>
                <i class='bx bxs-key'></i>
                <div id="verification-error-message" style="color: red; display: none;">Email hoặc mã xác minh không
                    chính xác.</div>
            </div>
            <div class="inputbox">
                <input type="password" placeholder="New Password" id="NewPassword" name="NewPassword" required>
                <i class='bx bxs-lock-alt'></i>
                <div id="password-error-message" style="color: red; display: none;">Mật khẩu cần từ 8 đến 24 ký tự, bao
                    gồm chữ hoa, chữ thường và kí tự đặc biệt.</div>
            </div>
            <div class="inputbox">
                <input type="password" placeholder="Confirm Password" id="ConfirmPassword" name="ConfirmPassword"
                    required>
                <i class='bx bxs-lock-alt'></i>
                <div id="password-match-error" style="color: red; display: none;">New Password và Confirm Password không
                    khớp.</div>
            </div>
            <button class="btn" type="submit" id="verificationCodeSubmitButton">Submit</button>
            <div class="register-link">
                <p>Remember your password? <a href="/Login">Login now</a></p>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn submit mặc định của form
            const email = document.getElementById('Email').value;

            // Gửi yêu cầu API để gửi mã xác nhận đến email
            fetch('/v1/ForgotPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ Email: email })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to send verification code');
                    }
                    return response.json();
                })
                .then(data => {
                    // Gửi yêu cầu API thành công, ẩn form đầu tiên và hiển thị form thứ hai
                    document.getElementById('forgotPasswordForm').style.display = 'none';
                    document.getElementById('VerificationEmail').value = email;
                    document.querySelector('.verification-code').style.display = 'block';
                })
                .catch(error => {
                    console.error('Failed to send verification code:', error);
                    document.getElementById('error-message').style.display = 'block'; // Hiển thị thông báo lỗi
                });
        });
        document.getElementById('verificationCodeForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn submit mặc định của form
            const email = document.getElementById('VerificationEmail').value;
            const verificationCode = document.getElementById('VerificationCode').value;
            const newPassword = document.getElementById('NewPassword').value;
            const confirmPassword = document.getElementById('ConfirmPassword').value;

            // Kiểm tra xem password và confirm password có khớp nhau không
            if (newPassword !== confirmPassword) {
                document.getElementById('password-match-error').style.display = 'block';
                return; // Dừng việc gửi yêu cầu API nếu password và confirm password không khớp
            }

            // Kiểm tra mật khẩu theo yêu cầu từ 8 đến 24 ký tự và bao gồm chữ hoa, chữ thường và ký tự đặc biệt
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.,;'@!%*?&])[A-Za-z\d.,;'@!%*?&]{8,24}$/;
            if (!passwordRegex.test(newPassword)) {
                document.getElementById('password-error-message').style.display = 'block';
                return; // Dừng việc gửi yêu cầu API nếu mật khẩu không đáp ứng yêu cầu
            }

            // Gửi yêu cầu API để xác nhận mã code và lưu mật khẩu mới
            fetch('/v1/ForgotPassword/Confirm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    Email: email,
                    Code: verificationCode,
                    NewPassword: newPassword,
                    ConfirmPassword: confirmPassword
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to confirm verification code');
                    }
                    return response.json();
                })
                .then(data => {
                    // Xử lý phản hồi từ API, ví dụ chuyển hướng người dùng đến trang đăng nhập
                    window.location.href = '/Login';
                })
                .catch(error => {
                    console.error('Failed to confirm verification code:', error);
                    document.getElementById('verification-error-message').style.display = 'block'; // Hiển thị thông báo lỗi
                });
        });
    </script>
</body>

</html>