@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rokkitt", serif;
}
.header {
  display: flex;
  color: #333333;
  width: 100%;
}

p,
ul {
  color: #666;
}
a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
a {
  color: inherit;
}
button:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.slider-txt h2 span,
.blog-txt h3 a,
.footer-menu li a {
  font-family: "Rokkitt", serif;
  font-weight: 700;
  color: #333333;
}
.table thead th,
.tab-box-item h5 a {
  font-family: "Rokkitt", serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1:hover > a,
h2:hover > a,
h3:hover > a,
h4:hover > a,
h5:hover > a,
h6:hover > a {
  color: inherit;
}
p,
.slider-txt span,
.slider-txt p,
a,
ul,
span,
input,
button,
ol,
table {
  font-family: "Archivo", sans-serif;
}
a,
img,
:before,
:after,
button,
input,
textarea,
span {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.text-gray {
  color: #666;
}
.text-gray2 {
  color: #aaaaaa;
}
.bg-gray {
  background-color: #e8ebf1;
  z-index: -1;
}
/*=====Font Sizes====*/
.fs-14 {
  font-size: 0.875rem;
}
.fs-15 {
  font-size: 0.9375rem;
}
.fs-16 {
  font-size: 1rem;
}
.fs-18 {
  font-size: 1.125rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-22 {
  font-size: 1.375rem;
}
.fs-26 {
  font-size: 1.625rem;
}
.fs-30 {
  font-size: 1.875rem;
}
.fs-34 {
  font-size: 2.125rem;
}
.fs-38 {
  font-size: 2.375rem;
}
.fs-45 {
  font-size: 2.8125rem;
}
.fs-50 {
  font-size: 3.125rem;
}
.fs-100 {
  font-size: 6.25rem;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}
/*=====Margin Padding====*/
.mb-18 {
  margin-bottom: 1.125rem;
}
.mt-25 {
  margin-top: 1.5625rem;
}
.mb-20 {
  margin-bottom: 1.25rem;
}
.mt-30 {
  margin-top: 1.875rem;
}
.mt-35 {
  margin-top: 2.1875rem;
}
.mb-35 {
  margin-bottom: 2.1875rem;
}
.mb-40 {
  margin-bottom: 2.5rem;
}
.pb-15 {
  padding-bottom: 0.9375rem;
}
.pt-25 {
  padding-top: 1.5625rem;
}
.pt-50 {
  padding-top: 3.125rem;
}
.pt-60 {
  padding-top: 3.75rem;
}
.pb-60 {
  padding-bottom: 3.75rem;
}
.pb-70 {
  padding-bottom: 4.375rem;
}
.pt-80 {
  padding-top: 5rem;
}
.pb-110 {
  padding-bottom: 6.875rem;
}
.pt-110 {
  padding-top: 6.875rem;
}
.pl-130 {
  padding-left: 130px;
}
.py-110 {
  padding: 6.875rem 0;
}
input:focus,
select:focus {
  box-shadow: none;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea,
select.minimal {
  color: #666666;
  border-radius: 40px;
  border: 2px solid #d1ddcd;
  padding: 1rem 2rem;
  font-size: 1rem;
}
.theme-btn {
  background-color: #131313;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}
.theme-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.theme-btn:hover span {
  width: 225%;
  height: 562px;
}
.theme-btn-secondary {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.9rem 2.5rem;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  border: none;
  font-weight: 700;
}
.theme-btn-secondary:hover span {
  background-color: #41c466;
}
.theme-btn-secondary:hover {
  color: #fff;
}
.theme-btn-secondary span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #4fd675;
  transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.theme-btn-secondary:hover span {
  width: 225%;
  height: 562px;
}
.theme-btn-secondary i {
  padding-right: 12px;
  font-size: 1.25rem;
}
.sec-space {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.no-bottom {
  padding-bottom: 0;
}
.sec-space.no-tp-space {
  padding-top: 0;
}
section {
  position: relative;
}
.parallax {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.tab-box-content.parallax {
  background-blend-mode: color-burn;
  background-color: #293e6b !important;
}
.bg-image {
  padding: 300px 0px;
  z-index: -1;
}
.bg-image-2 {
  padding: 265px 0px;
}
.footer-overlay .parallax {
  opacity: 0.2;
}
.bg-fixed {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.blk-overlay::before,
.footer-overlay::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  background-color: #000;
}
.footer-overlay::before {
  background-color: #293e6b;
  opacity: 1;
}
.overlap-sec-style {
  position: relative;
  top: 7.5rem;
  margin-bottom: 7.5rem;
}
.testi-meta h4 {
  font-size: 28px;
  margin-bottom: 0px;
}
.owl-carousel .owl-nav > button.owl-prev,
.owl-carousel .owl-nav > button.owl-next {
  height: 3.6875rem;
  width: 3.6875rem;
  text-align: center;
  font-size: 2rem;
  border: 2px solid #4fd675;
  border-radius: 50%;
  color: #4fd675;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.owl-carousel .owl-nav > button.owl-prev {
  left: -6.25rem;
}
.owl-carousel .owl-nav > button.owl-next {
  right: -6.25rem;
}
.owl-carousel .owl-nav > button.owl-prev:hover,
.owl-carousel .owl-nav > button.owl-next:hover {
  color: #fff;
}
.sec-heading h2 {
  font-size: 50px;
}
/*****************************
	Header
******************************/
.search-box {
  position: absolute;
  top: 15%;
  right: 200px;
  transform: translateY(-50%);
  width: 100px;
}

.search-box form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.search-input {
  font-size: 20px;
}
.search-box button {
  background-color: #4fd675;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.search-box button {
  height: 38px;
}

header.style1 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 0;
  margin: 0;
}
.logo.style2 {
  z-index: 2;
}
.navbar-brand {
  padding: 0;
  margin: 0;
}
.style2 img {
  background: #fff;
  padding: 18px;
  border-radius: 50%;
  margin-top: -20px;
}
.navbar-nav > li {
  display: inline-block;
  margin-left: 1.8rem;
}
.navbar-nav > li a {
  font-size: 18px;
  text-transform: capitalize;
}

.navbar {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.site-menu-btns {
  margin-left: 4.25rem;
}
.style2 .site-menu-btns {
  margin-left: 3.25rem;
}
.style2 .site-menu-wrapper {
  padding-bottom: 40px;
}
.style2 {
  top: 0 !important;
}
.site-menu-btns a + a {
  margin-left: 0.45rem;
}
.cart-btn-1 {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  display: inline-block;
  box-shadow: 0px 0px 29px 0px rgb(0 0 0 / 11%);
  text-align: center;
  color: #333333;
  margin-left: 5px;
}
.cart-btn-1 span {
  height: 1.5625rem;
  width: 1.5625rem;
  border-radius: 50%;
  font-weight: 600;
  line-height: 1.5625rem;
  font-size: 0.8125rem;
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -0.75rem;
  top: 0;
  text-align: center;
  background: #4fd675;
}
.responsive-header {
  display: none;
}
/*****************************
	Food Category
******************************/
.food-cat-box {
  overflow: hidden;
}
.food-cat-inner {
  border: 4px dashed #ececec;
  position: relative;
  padding: 3rem;
}
.food-cat-inner > i {
  font-size: 6.25rem;
  line-height: 6.25rem;
  position: relative;
  z-index: 2;
}
.food-cat-inner h4 {
  position: relative;
  z-index: 2;
  margin-top: 16px !important;
}
.food-cat-inner h4 a {
  color: inherit;
}
.food-cat-box .go-detail {
  background-color: #262626;
  color: #fff;
  height: 4rem;
  width: 4rem;
  line-height: 2.5rem;
  position: absolute;
  bottom: -80px;
  left: 50%;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transition: all 0.65s;
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
}
.cat-hover {
  top: 0;
  left: -10%;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.28s ease-in-out 0s;
  -webkit-transition: all 0.28s ease-in-out 0s;
  -moz-transition: all 0.28s ease-in-out 0s;
}
.food-cat-box::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all 0.35s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.35s linear;
}
.food-cat-box:hover .cat-hover {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.food-cat-box:hover::before {
  opacity: 0.98;
}
.food-cat-box:hover .food-cat-inner h4,
.food-cat-box:hover .food-cat-inner i {
  color: #fff;
}
.food-cat-box:hover .food-cat-inner {
  border-style: solid;
}
.food-cat-box:hover .go-detail {
  bottom: -30px;
  visibility: visible;
  opacity: 1;
}
.food-cat-box > a i::before {
  display: block;
}
.food-cat-box > a:hover i::before {
  -webkit-animation: iconMove 0.4s forwards;
  -moz-animation: iconMove 0.4s forwards;
  animation: iconMove 0.4s forwards;
}
@-webkit-keyframes iconMove {
  49% {
    -webkit-transform: translateX(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes iconMove {
  49% {
    -moz-transform: translateX(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes iconMove {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
/*****************************
	Single Recipe
******************************/
.sing-recipe-content {
  position: relative;
}
.single-rec-desc {
  width: 66%;
}
.sing-recipe-img img {
  width: 100%;
}
.single-rec-desc h2 {
  font-size: 40px;
  line-height: 40px;
}
.single-rec-desc p {
  line-height: 28px;
  font-size: 18px;
}
.sing-smal-info {
  background: #293e6b;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
}
.sing-smal-info::before {
  content: "";
  border-top: 18px solid transparent;
  border-right: 18px solid #293e6b;
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 22px;
  left: -18px;
}
.sing-smal-info::after {
  content: "";
  border-top: 15px solid transparent;
  border-right: 15px solid #293e6b;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 25px;
  left: -15px;
}
.sing-smal-info li {
  padding: 6px 0 6px 18px;
}
.sing-smal-info li::before {
  content: "";
  height: 6.45px;
  width: 6.45px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  left: 0;
  background-color: #fff;
}
/*------dropdown-----*/
.nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.nav-item .dropdown-menu {
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
  position: absolute;
  top: 47px;
  left: 0;
  width: 200px;
  z-index: 99;
  display: block;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  transform: translateY(20px);
  border-radius: 0;
  border: 0;
  border-top: 3px solid #4fd675;
}
.navbar-expand-lg .navbar-nav {
  align-items: center;
}
ul.dropdown-menu:before,
ul.inner-dropdown.list-unstyled:before {
  content: "";
  top: -19px;
  left: 10px;
  width: 0;
  height: 0;
  position: absolute;
  background: transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid #4fd675;
  border-right: 8px solid transparent;
}
.dropdown-menu li a {
  font-size: 14px;
}
.dropdown-item {
  padding: 0.8rem 1.5rem;
}
/*------responsive menu-----*/
.menu-on {
  display: none;
}
.navbar-close .cross-wrap {
  width: 34px;
  height: 34px;
  cursor: pointer;
  position: relative;
}
.navbar-close .cross-wrap span.top {
  top: 17px;
  left: 0;
  transform: rotate(45deg);
}
.navbar-close .cross-wrap span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background: #000;
}
.navbar-close .cross-wrap span.bottom {
  bottom: 15px;
  left: 0;
  transform: rotate(-45deg);
}
.navbar-toggler span {
  position: relative;
  background-color: #0e1b2c;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-top: 5px;
  padding: 0;
  transition-duration: 300ms;
  width: 30px;
  cursor: pointer;
  display: block;
}
.navbar-close {
  position: absolute;
  top: 25px;
  right: 26px;
}
.nav-menu a {
  color: #000;
}
.owl-carousel.owl-drag .owl-item {
  max-height: 100%;
}
.home-drop a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-menu li {
  color: #fff;
  padding-right: 28px;
  align-items: center;
  list-style: none;
  padding-bottom: 20px;
  overflow: hidden;
}
/*---recipy gradients----*/
.recipe-img img {
  display: flex;
  margin: auto;
  height: 180px;
  width: 180px;
  padding: 20px;
  border-radius: 50%;
  margin-top: -100px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 15px 6px #f7f7f7;
}
.recipy-content h2 {
  font-size: 70px;
}
.recipy-content-2 ul {
  display: flex;
  justify-content: center;
}
.recipy-content-2 strong {
  width: 100% !important;
  text-align: center;
}
.recipy-content-2 .chef-meta ul li {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  justify-content: flex-end;
  align-items: center;
}
.recipy-content-2 .chef-meta ul li i {
  margin-right: 0px;
  font-size: 40px;
}
.special-ingradient {
  padding: 20px;
}
.gradient-list li h3 {
  padding-right: 10px;
}
.recip-inner {
  margin-top: 300px;
  box-shadow: 3px 9px 27px #888;
}
.gradient-list li {
  padding-bottom: 32px;
  font-size: 18px;
}
.special-ingradient ol li {
  font-size: 18px;
  list-style: none;
  line-height: 30px;
}
.prep-time {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid #c0c4ca;
}
.prep-time-sub {
  width: 50%;
  margin: auto;
}

.togglesubmenu {
  height: 65px !important;
}
.menu-on {
  display: block;
}
.menu-on {
  width: 0px;
}
.home-page-2 {
  transition: ease-in-out 0.5s;
  height: 0px;
  margin-top: 10px;
  padding: 0 15px;
}

.nav-menu {
  display: none;
}
.prep-title {
  padding: 20px;
}
.recipy-icon ul li {
  padding-right: 30px;
}
.recipy-icon ul {
  overflow: hidden;
}
.recipy-icon-list li span {
  margin-left: -90px;
  opacity: 0;
  visibility: hidden;
}
.recipy-icon-list li:hover span {
  margin-left: 10px;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.table thead th {
  font-size: 30px;
  font-weight: 500;
  padding-left: 0px;
}
.table tbody tr td {
  padding: 5px 0px;
}
.table tbody tr {
  font-size: 18px;
  padding-left: 0px;
}
.table-img {
  width: 50vw;
  height: 800px;
}
.table-img img {
  width: 100%;
}
.recipy-table ul {
  padding-left: 23px;
  font-size: 18px;
  line-height: 30px;
  max-width: 90%;
}
.recipy-table ul li {
  padding-bottom: 12px;
}
.recipy-table h2 {
  font-size: 35px;
  padding-top: 30px;
}
.table-title h2 {
  width: 50%;
  margin: auto;
  line-height: 40px;
}
.chef-special .recipe-cokng-info {
  margin: 0px !important;
  padding-bottom: 50px !important;
  margin-top: 13px !important;
}
.recipe-cokng-info-2 li {
  padding-right: 25px;
}
.chef-special .recipe-cokng-info li {
  padding-right: 25px;
}
.recipe-cokng-info-2 span {
  padding-right: 5px;
}
.chef-special .recipe-cokng-info span {
  padding-right: 5px;
}
.recipy-table ul li::marker {
  color: #4fd675;
  font-size: 28px;
}
.recipe-descrip {
  max-width: 70%;
  margin: auto;
  margin-bottom: 30px;
}
.recipy-style2 p {
  max-width: 84%;
  padding-top: 10px;
}
.recipy-style2 {
  margin-bottom: 30px;
}
.recipy-style2 img {
  width: 100%;
}
.recipy-style2 span {
  position: absolute;
  top: 20px;
  left: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  background: #ffff;
}
.special-ingradient h3 {
  font-size: 35px;
}
.Ingredient-list ul {
  padding-left: 17px;
}
.Ingredient-list li::marker {
  font-size: 18px;
}
.recipe-carousel .recipe-cokng-info {
  display: none;
}
.search-box {
  display: flex;
}
.search-box i {
  margin: 10px;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 25px;
  color: #41c466;
}
monan-title {
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  justify-content: center;
  display: flex;
}
.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #fffbf5;
}
.card {
  width: 350px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  padding-right: 20px;
  background-color: antiquewhite;
  object-fit: cover;
}
.card1 {
  width: 600px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  padding-right: 20px;
  background-color: antiquewhite;
  object-fit: cover;
}

.btn {
  border-radius: 10px;
  padding: 5px;
}
.slides {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.listimage {
  display: flex;
  transform: translateX();
  transition: 0, 5s;
}

.next-right {
  border-radius: 50%;
  font-weight: 300;
  position: absolute;
  margin-top: 300px;
  margin-left: -120px;
  width: 100px;
  height: 100px;
  background-color: initial;
  color: #adbc9f;
}
.menu-area {
  margin-top: 40px;
}
.center-menu {
  width: 100%;
  height: 600px;
  border-spacing: 20px;
}
.menu-area h2 {
  color: #12372a;
  margin-left: 45%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}
.mon1 {
  width: 40%;
  height: 600px;
  background-image: url("/image/8426412_Stir-Fried-Sesame-Chicken-with-Broccoli_Brenda-Venable_4x3-e2dbfb3eb4054112b7fdf78c023c5ace.jpg");
  background-size: cover;
  background-position: center;
}
.mon2 {
  width: 20%;
  height: 300px;
  background-image: url("/image/OIP.jpg");
  background-size: cover;
  background-position: center;
}
.mon3 {
  width: 20%;
  height: 300px;
  background-image: url("/image/OIP\ \(1\).jpg");
  background-size: cover;
  background-position: center;
}
.mon4 {
  width: 20%;
  height: 300px;
  background-image: url("/image/salmon-518032.jpg");
  background-size: cover;
  background-position: center;
}
.mon5 {
  width: 20%;
  height: 300px;
  background-image: url("/image/spring-roll-6760871_1920.jpg");
  background-size: cover;
  background-position: center;
}
.block1 {
  margin-top: 20px;
}
.block1 h2 {
  color: #12372a;
  margin-left: 45%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}
.image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}
.line2 {
  height: 5px;
  background-color: #12372a;
  border: 0;
}
.container2 {
  width: 25%;
  height: 250px;
  float: left;
}
.container2 h2 {
  color: #12372a;
  margin-right: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}
.container2 p {
  font-size: 20px;
}
.container2 i {
  font-size: large;
}
.container3 {
  width: 50%;
  height: 250px;
  float: left;
}
.container3 h2 {
  color: #12372a;
  margin-right: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}
.container3 p {
  font-size: 20px;
}
.container4 {
  width: 24.8%;
  height: 250px;
  float: left;
}
.container4 h2 {
  color: #12372a;
  margin-right: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}
.container4 p {
  font-size: 20px;
}
.container2,
.container3 {
  border-right: 1px solid #096a0f;
}
.container2,
.container3,
.container4 {
  background-color: #9b9b9b;
}
.slides {
  transition: all 0.5s ease-in-out;
}

div.scroll-container {
  background-color: white;
  overflow: flex;
  white-space: nowrap;
  padding: 0px;
  overflow-x: scroll;
}
.scroll-container img {
  padding: 0px;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  height: auto;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.container-meovat {
  font-family: arial;
  /* background-color: #ffffcc; */
  margin-top: 100px;
  padding: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.container-meovat h2 {
  text-align: center;
  font-size: 200%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.container-meovat h3 {
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 0px;
}
.container-meovat-title {
  width: 100%;
}
.container-meovat-list {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 20px;
  padding: 0;
}
.container-meovat-1 {
  width: calc(25% - 20px);
  float: left;
  margin: 10px 10px;
  height: 400px;
}
.container-meovat-1 a {
  text-decoration: none;
  color: black;
}
.container-meovat-1 h3:hover {
  text-decoration: underline;
}
.container-meovat-1-2 {
  height: 50%;
}
.image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.footer {
  position: absolute;
  display: flex;
  color: #333333;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.address {
  border-right: 3px solid #41c466;
  margin: 10px;
  align-items: center;
  padding: 10px;
  width: 25%;
}
.address h2 {
  text-align: center;
}
.address h2:hover {
  color: #41c466;
}
.aboutus {
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  width: 50%;
}
.aboutus h2 {
  text-align: center;
}
.aboutus h2:hover {
  color: #41c466;
}
.aboutus p1 {
  font-size: 20px;
}
.social {
  margin: 10px;
  width: 25%;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-left: 3px solid #41c466;
}
.social h2:hover {
  color: #41c466;
}
.social i {
  padding: 10px;
  font-size: 25px;
}
.social i:hover {
  color: #41c466;
}
.header,.footer{
  background-image: url(/image/mazaa-pattern.png);
  background-size: cover; 
  background-position: center; 
}
.footer{
  width : 100%;
  margin: 0px 0px;
}
