<!DOCTYPE html>
<html lang="en">

<head>
    <title>14Cooking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/Userpage.css">
    <link rel="stylesheet" href="/css/heart.css">
    <link rel="stylesheet" href="/css/bootstrap.minMeo.css">
    <link rel="stylesheet" href="/css/navigate.css">
    <link rel="stylesheet" href="/css/colorMeo.css">
    <link rel="stylesheet" href="/css/styleMeo.css">
    <link rel="stylesheet" href="/css/6Skillslambep.css">
    <link rel="stylesheet" href="/css/burntchesecakememchay.css">
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="use-credentials"></script>
    <link rel="stylesheet" href="/css/search.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    {{!-- <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script> --}}
    {{!-- <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="use-credentials"></script> --}}
    <!--<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
    <style>
        #results {
            display: none;
        }
    </style>
    <!--<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
</head>

<body>
    <div>
        {{>header}}
        <div id="wr">
            <div>
                {{{body}}}
            </div>
        </div>
        <div id="results"></div>
        <script src="/js/search.js"></script>
        <script src="/js/editprofile.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	    <script src="/js/script.js"></script>
        {{>footer}}
    </div>


</body>

</html>